$primary-color: #2ECC71;

$divider-color: #e5e5e5;

$list-hover-color: #e5e5e5;

$login-background-color: $primary-color;
$login-heading-color: white;

$box-background-color: white;

$btn-danger: #E74C3C;
$danger-color: #F22613;

$navbar-default-bg: $primary-color;
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-active-color: white;