$box-padding: 20px 30px;

$heading-small-size: 16px;
$heading-big-size: 24px;

$list-item-padding: 12px 30px;

$login-heading-size: 54px;

// Breakpoint for the navigation
$grid-float-breakpoint: 480px;
