<div class="col-md-9">
	<div class="box">
		<h2>
			{{ project.content.name }} / Commits 

			<a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="pull-right-icon icon-more_vert"></span></a>

			<ul class="dropdown-menu">
				<li><a ui-sref="conversationParticipants({ conversationId: 2 })" href="">GitHub Link</a></li>
				<li class="divider"></li>
				<li><a ui-sref="conversationParticipants({ conversationId: 2 })" href="">Start Chat</a></li>
			</ul>
		</h2>

		<ul class="scroll-wrapper list-view">
			<li data-ng-show="projectData.loading" class="spinner-list-item">
				<div class="spinner-wrapper">
				   <svg class="spinner" width="35px" height="35px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
				   </svg>   
				</div>
			</li>

			<li ng-repeat="commit in projectData.content">
				<div class="conversation-type group">
					<span>C</span>
				</div>

				<span class="username">{{ commit.commit.author.name }}</span>

				<p class="bottom-right">{{ commit.commit.message }}</p>
			</li>

		</ul>

	</div>
</div>

<div class="col-md-3">
	<div class="box project-navigation">
		<ul class="nav nav-tabs nav-stacked">
			<li><a data-ui-sref="project({ projectId: project.content.id })" href="">Documentation</a></li>
			<li><a data-ui-sref="projectCommits({ projectId: project.content.id })" class="active" href="">Commits</a></li>
			<li><a data-ui-sref="projectCollaborators({ projectId: project.content.id })" href="">Collaborators</a></li>
			<li><a data-ui-sref="projectDeployment({ projectId: project.content.id })" href="">Deploy</a></li>
		</ul>
	</div>
</div>