<div class="col-md-9">
   <div class="box">
      <h2>Teams <a ui-sref="createTeam" href=""><span class="icon-add_circle pull-right-icon"></span></a></h2>

      <ul class="list-view" data-ng-scrollbars>

         <li data-ng-show="teamData.loading" class="spinner-list-item">
            <div class="spinner-wrapper">
               <svg class="spinner" width="35px" height="35px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                  <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
               </svg>   
            </div>
         </li>

         <li data-ui-sref="team({teamId: team.id})" data-ng-repeat="team in teamData.content">
            <div class="conversation-type group">
               <span>T</span>
            </div>
            
            <span class="username">{{ team.name }}</span>

            <p class="bottom-right">{{ team.org.login }}</p>
         </li>

         <li ng-hide="teamData.content.length > 0 || teamData.loading" class="empty">
            <p>You are not apart of any teams.</p>
         </li>
      </ul>

   </div>
</div>