<div class="col-md-8">
	<div class="box">
		<h2>emaale <img src="https://avatars.githubusercontent.com/u/7046757?v=3" class="heading-image"></h2>

		<div class="information-group">
			<span class="information-type">Email</span>

			<p>emanuel.alenius@gmail.com</p>
		</div>

		<div class="information-group">
			<span class="information-type">GitHub Page</span>

			<p><a href="">emaale</a></p>
		</div>

		<div class="information-group">
			<span class="information-type">GitHub Member Since</span>

			<p>12 Jan 2016</p>
		</div>

		<div class="information-group">
			<span class="information-type">Collaborate User</span>

			<p><span class="icon-done"></span></p>
		</div>
	</div>
</div>